.input-wrapper {
  display: grid;
  grid-template-columns: var(--input-wrapper-grid-template-columns, 3.5rem 1fr);
  align-items: center;
  gap: var(--input-wrapper-gap, 1.5rem);
  inline-size: 100%;

  &.vertical {
    --input-wrapper-grid-template-columns: 1fr;
    --input-wrapper-gap: 0;

    .input-label-text {
      padding-block-end: 0.25rem;
    }
  }
}



.input-label-text {
  font-size: var(--input-label-text-font-size, 1rem);
  font-family: var(--input-label-text-font-family);
}

.input-image-wrapper {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  min-inline-size: 2.75rem;
  block-size: 2.75rem;
}

.input-equal {
  line-height: 0;
  font-size: 2.875rem;
  padding-inline: 0.25rem;
  color: var(--SWD-color-primary);
}

.input-image {
  display: block;
  width: 100%;
  height: auto;
}

.input-field {
  font-family: var(--SWD-title-font-family);
  font-size: 1.5rem;
  text-align: var(--input-field-text-align, end);
  display: flex;
  flex: 1 1 100%;
  inline-size: calc(100% - 2.75rem);
  font-weight: 800;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  block-size: 2.75rem;
  padding-inline: 1rem;
  border-radius: max(0.25rem, 4px);
  border: max(0.0625rem, 1px) solid transparent;
  border-block-end-color: var(--input-field-border-color, var(--SWD-input-color-opacity));
  color: #000;
  background: none; //var(--input-field-background, var(--SWD-input-color-opacity));

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }

  &:focus {
    outline: max(0.125rem, 2px) solid var(--SWD-color-primary);
    outline-offset: max(0.25rem, 4px);
  }

  &::placeholder,
  &::-ms-input-placeholder {
    color: var(--input-field-placeholder-color, var(--SWD-text-color-opacity));
  }

  &:not(:placeholder-shown) {
    background: none;
    color: var(--SWD-color-primary);
    border-block-end-color: var(--input-field-border-color);
  }

  &:read-only {
    --input-field-border-color: var(--SWD-text-color-opacity);
    --input-field-background: none;
  }
}