.inputWrapper {
  display: grid;
  inline-size: 100%;

  align-items: center;
  gap: 1.5rem;

  grid-template-columns: 3.5rem 1fr;

  & + & {
    margin-block-start: 0.5rem;
  }
}

.inputLabelText {
  position: absolute;

  margin: -1px;
  padding: 0;
  border: 0;

  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.inputImageWrapper {
  display: flex;
  block-size: 2.75rem;
  min-inline-size: 2.75rem;

  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.inputField {
  display: flex;
  block-size: 3.5rem;
  inline-size: 100%;
  padding-inline: 1rem;
  border: max(0.125rem, 2px) solid
    var(--input-field-border-color, var(--swd-input-color-opacity));

  border-radius: max(0.25rem, 4px);

  flex: 1 1 100%;

  background: var(--input-field-background, var(--swd-input-color-opacity));

  color: hsl(0, 0%, 0%);
  font-family: var(--swd-title-font-family);
  font-size: 1.5rem;
  font-weight: 800;
  text-align: end;

  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &:focus {
    outline: max(0.125rem, 2px) solid var(--swd-color-primary);
    outline-offset: max(0.25rem, 4px);
  }

  &::placeholder,
  &::-ms-input-placeholder {
    color: var(
      --input-field-placeholder-color,
      var(--swd-text-color-opacity, #9f9f9f)
    );
  }

  &:not(:placeholder-shown) {
    border-color: transparent;

    background: none;

    color: var(--swd-color-primary);
  }

  &:read-only {
    --input-field-border-color: transparent;
    --input-field-background: none;
  }
}
