.wrapper {
  position: relative;

  display: flex;
  inline-size: 100%;
  padding: 0;

  justify-content: space-between;
  align-items: center;
}

.title {
  padding-inline: 1rem;

  font-size: 1rem;
}

.menuContainer {
  position: relative;
  inset-block-end: 0;
}

.menuButton {
  margin-inline-start: auto;
  padding: 0.5rem 0.75rem;
  border: none;

  background: none;

  color: var(--swd-text-color);
  font-size: 2rem;

  cursor: pointer;
  appearance: none;
}

.menu {
  position: absolute;
  z-index: 100;
  inset-block-start: 100%;
  inset-inline-end: 0.75rem;

  min-inline-size: 9.375rem;
  padding: 0.5rem;
  border: 0.0625rem solid var(--swd-color-primary);

  border-radius: 0.25rem;

  background: var(--swd-background-color);

  font-family: var(--swd-title-font-family);
  font-size: 1.5rem;

  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.15);

  .menuTitle {
    margin: 0 0 0.5rem;
    padding-block-end: 0.5rem;
    border-block-end: max(0.0625rem, 1px) solid var(--swd-color-primary);

    color: var(--swd-text-color-opacity);
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.menuItem {
  display: flex;
  padding: 0.5rem;
  border: none;

  width: 100%;
  border-radius: 0.25rem;

  align-items: center;
  gap: 0.5rem;

  background: none;

  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-align: start;

  cursor: pointer;

  &:hover {
    background: var(--swd-color-primary);

    color: var(--swd-button-text-color);
  }

  input {
    cursor: pointer;
  }

  span {
    font-size: 1rem;
  }
}
