.swd-config {
  --input-label-text-font-size: 1.5rem;
  --input-label-text-font-family: var(--swd-title-font-family);
  --input-field-text-align: left;

  display: grid;
  max-inline-size: var(--swd-wrapper-width);
  margin: 0 auto;
}

.ludio-i,
.ludio-ii {
  text-align: left;
}

.ludio-ii {
  margin-block-start: 2rem;
}
