.tabsWrapper {
  display: grid;
  inline-size: 100%;
}

.tabsBar {
  position: sticky;
  inset-block-start: 0;

  display: flex;
  margin-block-end: 2rem;
  border-block-end: max(0.0625rem, 1px) solid var(--swd-color-primary);

  width: 100%;

  justify-content: center;
  align-items: center;

  background: var(--swd-background-color);
}

.tabsControl {
  position: relative;

  display: block;
  block-size: 4rem;
  max-inline-size: 20rem;
  padding: 0 1rem;
  border: none;

  overflow: hidden;

  flex: 1 1 100%;

  background: none;

  color: var(--swd-text-color-opacity);
  font-family: var(--swd-title-font-family);
  font-size: 2rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  cursor: pointer;
  appearance: none;

  &.active {
    --total-background: var(--swd-color-primary);
    --total-scale: 1;
    border-block-end: max(0.25rem, 4px) solid var(--swd-color-primary);

    color: var(--swd-color-primary);
  }
}

.total {
  position: absolute;
  inset-block-start: 0.25rem;
  inset-inline-end: 0.5rem;

  display: flex;
  block-size: 2rem;
  inline-size: 2rem;
  border: max(0.25rem, 4px) solid var(--swd-background-color);

  border-radius: 16rem;

  justify-content: center;
  align-items: center;

  background: var(--total-background, var(--swd-text-color));

  color: var(--swd-background-color);
  font-size: 1rem;

  transform: scale(var(--total-scale, 0.75));

  transition: all 0.25s ease-in-out;
}

.tabsContainer {
  padding-inline: 1rem;
}

.tabContent {
  display: block;
}

.tabContentHidden {
  display: none;
}
