@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Inclusive+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;800&display=swap");

:root {
  --SWD-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --SWD-title-font-family: "Cinzel", serif;
  --SWD-background-color: hsl(195, 100%, 2%);
  --SWD-color-primary: hsl(50, 100%, 50%);
  --SWD-text-color: hsl(0, 0%, 95%);
  --SWD-text-color-opacity: hsla(0, 0%, 100%, 0.5);
  --SWD-input-color-opacity: hsla(0, 0%, 100%, 0.87);
  --SWD-button-text-color: hsl(195, 100%, 2%);
  --SWD-line-height: 1.5;
  --SWD-wrapper-width: 35rem;

  font-family: var(--SWD-font-family);
  background: var(--SWD-background-color);
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 16px;
}

h1,
h2 {
  font-family: var(--SWD-title-font-family);
  color: var(--SWD-color-primary);
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  max-inline-size: 0;
  max-block-size: 0;
  margin-block: -1px;
  margin-inline: 0;

  &:focus {
    position: relative;
    clip: auto;
    width: auto;
    height: auto;
    overflow: auto;
  }
}